@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<h4>Add a New Client</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <br>
  @Html.LabelFor(model => model.ClientName)
  @Html.TextBoxFor(model => model.ClientName)
  <br>
  @Html.LabelFor(model => model.Phone)
  @Html.TextBoxFor(model => model.Phone)
  <br>
  @Html.LabelFor(model => model.ApptDate)
  @Html.TextBoxFor(model => model.ApptDate)
  <br>
   @Html.LabelFor(model => model.Service)
  @Html.TextBoxFor(model => model.Service)
  <br>
  <input type="submit" value="Add a New Client" class= "btn btn-default" />
}

<p>@Html.ActionLink("Show All Clients", "Index")</p>