@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit Client</h2>
<h3>@Html.DisplayFor(model => model.ClientName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  @Html.HiddenFor(model => model.StylistId)
  @Html.HiddenFor(model => model.ClientName)

  @Html.LabelFor(model => model.ClientName)
  @Html.EditorFor(model => model.ClientName)
  <br>
  @Html.LabelFor(model => model.Phone)
  @Html.EditorFor(model => model.Phone)
  <br>
  @Html.LabelFor(model => model.ApptDate)
  @Html.EditorFor(model => model.ApptDate)
  <br>
  @Html.LabelFor(model => model.Service)
  @Html.EditorFor(model => model.Service)
  <br>
  
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to List", "Index")</p>