@{
  layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit Client</h2>
<h3>@Html.DisplayFor(model => model.ClientName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  @Html.HiddenFor(model => model.StylisId)
  @Html.HiddenFor(model => model.ClientName)

  @Html.LabelFor(model => model.ClientName)
  
// Add more properties here
<input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to List", "Index")</p>